.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--indent-sections);
}

.title {
  text-align: center;
}

.variants {
  display: flex;
  column-gap: var(--indent-space);
}