.Button {
  font-size: var(--font-size-accent);
  padding: 8px 16px;
  color: #fff;
  background-color: var(--accent-color);
  border: var(--accent-color-border);
  border-radius: 4px;
  transition: var(--transition);
  cursor: pointer;

  &:disabled {
    opacity: .6;
    pointer-events: none;
    text-decoration: line-through;
  }
}

.primary {
  &:hover {
    color: var(--accent-color);
    background-color: #fff;
  }

  &:focus {
    border: var(--focus-color-border);
  }

  &:active {
    background-color: var(--accent-color-30);
    border: var(--accent-color-border);
  }
}

.outlined {
  color: var(--accent-color);
  background-color: #fff;
  border: var(--accent-color-border);

  &:hover {
    color: #fff;
    background-color: var(--accent-color);
  }

  &:focus {
    border: var(--focus-color-border);
  }

  &:active {
    color: #fff;
    background-color: var(--accent-color-30);
  }
}

.clear {
  padding: 0;
  border: none;
  background-color: transparent;
}

.success {
  background-color: var(--successes-color);
  border: var(--successes-color-border);

  &:hover {
    background-color: var(--successes-color-160);
    border: var(--successes-color-border-160);
  }

  &:focus {
    border: var(--focus-color-border);
  }

  &:active {
    background-color: var(--successes-color-130);
    border: var(--successes-color-border-130);
  }
}

.danger {
  background-color: var(--danger-color);
  border: var(--danger-color-border);

  &:hover {
    background-color: var(--danger-color-160);
    border: var(--danger-color-border-160);
  }

  &:focus {
    border: var(--focus-color-border);
  }

  &:active {
    background-color: var(--danger-color-130);
    border: var(--danger-color-border-130);
  }
}


