.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  transition: var(--transition);

  &:hover,
  &:active,
  &:focus {
    box-shadow: var(--box-shadow-on-secondary);
  }
}

.link svg {
  flex-shrink: 0;
  object-fit: contain;
}