.button {
  position: relative;
  display: inline-flex;
  width: 50px;
  height: 24px;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-image: url('../../../shared/assets/svgs/night.svg');
  background-size: 16px;
  background-position: 80% center;
  border-radius: 9999px;
  border: var(--main-color-border);
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    box-shadow: var(--box-shadow-on-secondary);
  }

  &:focus {
    border: var(--focus-color-border);
  }
}

.buttonChecked {
  background-image: url('../../../shared/assets/svgs/day.svg');
  background-position: 20% center;
}

.indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translate(4px);
  transition: var(--transition);
}

.indicatorChecked {
  transform: translate(28px);
}