.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--main-color);
  overflow-y: auto;
}

.container {
  display: grid;
  grid-template-columns: minmax(0, max-content) 9fr;
}

.outlet {
  padding: 30px 40px 60px;
}