// Main Colors
$primary-bg-color: #272733;
$header-bg-color: rgba(16, 16, 29, 0.9);
$footer-bg-color: #3d4050;

// Secondary Colors
$primary-txt-color: #ffffff;
$secondary-txt-color: #000;

// Accent Colors
$accent-color: #3e9cdc;
$successes-color: #31ee31;

// Text
$main-font-size: 13px;
$main-line-height: 16px;
$main-font-family: "Lato", "Arial", sans-serif;
$main-font-color: $primary-txt-color;
$main-font-weight: 400;

// Sizes
$page-min-width: 320px;

// Common
$transition: all 0.3s ease-in;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
