.Code {
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 20px;
  position: relative;
  padding: 20px;
  background-color: var(--secondary-color-30);
  border: var(--secondary-color-border-60);
  overflow: auto;
}

.copyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--secondary-color-border);

  &:hover .copyIcon path {
    stroke: #fff;
  }
}
