.Button {
  cursor: pointer;
  color: #fff;
  background-color: var(--accent-color);
  transition: var(--transition);
}

.primary {
  padding: 6px 15px;
  border: none;
  border-radius: 4px;


  &:hover {
    color: var(--accent-color);
    background-color: #fff;
  }
}

