.AppNavLink {
  display: inline-flex;
  color: var(--main-color);
  transition: var(--transition);

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.15);
  }

  &:active {
    text-decoration: none;
  }

  &:focus {
    color: var(--focus-color);
  }
}

.active {
  font-weight: 700;
  text-decoration: none
}


