.app_light_theme {
  --main-color: rgb(244 244 251);
  --main-color-90: rgb(244 244 251 / 90%);
  --main-color-80: rgb(244 244 251 / 80%);
  --main-color-70: rgb(244 244 251 / 70%);
  --main-color-60: rgb(244 244 251 / 60%);
  --main-color-50: rgb(244 244 251 / 50%);
  --main-color-40: rgb(244 244 251 / 40%);
  --main-color-30: rgb(244 244 251 / 30%);
  --main-color-20: rgb(244 244 251 / 20%);
  --main-color-10: rgb(244 244 251 / 10%);
  --secondary-color: rgb(39 39 51);
  --secondary-color-90: rgb(39 39 51 / 90%);
  --secondary-color-80: rgb(39 39 51 / 80%);
  --secondary-color-70: rgb(39 39 51 / 70%);
  --secondary-color-60: rgb(39 39 51 / 60%);
  --secondary-color-50: rgb(39 39 51 / 50%);
  --secondary-color-40: rgb(39 39 51 / 40%);
  --secondary-color-30: rgb(39 39 51 / 30%);
  --secondary-color-20: rgb(39 39 51 / 20%);
  --secondary-color-10: rgb(39 39 51 / 10%);
  --successes-color: rgb(87 218 87);
  --successes-color-60: rgb(36 155 43);
  --successes-color-30: rgb(9 115 14);
  --danger-color: rgb(255 18 18);
  --danger-color-60: rgb(166 1 1);
  --danger-color-30: rgb(110 0 0);
  --overlay-color: rgba(0 0 0 / 40%);
  --accent-color: rgb(22 26 29);
  --accent-color-60: rgb(31 33 35);
  --accent-color-30: rgb(63 63 63);
  --focus-color: #3ba6fd;
  --main-color-border: 3px solid var(--main-color);
  --main-color-border-60: 3px solid var(--main-color-60);
  --main-color-border-30: 3px solid var(--main-color-30);
  --secondary-color-border: 3px solid var(--secondary-color);
  --secondary-color-border-30: 3px solid var(--secondary-color-30);
  --secondary-color-border-60: 3px solid var(--secondary-color-60);
  --accent-color-border: 3px solid var(--accent-color);
  --focus-color-border: 3px solid var(--focus-color);
  --successes-color-border: 3px solid var(--successes-color);
  --successes-color-border-60: 3px solid var(--successes-color-60);
  --successes-color-border-30: 3px solid var(--successes-color-30);
  --danger-color-border: 3px solid var(--danger-color);
  --danger-color-border-60: 3px solid var(--danger-color-60);
  --danger-color-border-30: 3px solid var(--danger-color-30);
  --box-shadow-on-secondary: 0 0 8px 4px var(--main-color);
}