.news {
  display: flex;
  flex-direction: column;
  row-gap: var(--indent-inner-primary);
  padding: 20px;
  color: var(--main-color);
  background-color: var(--secondary-color-40);
  border-radius: 16px;
}

.dateWrap {
  display: flex;
  justify-content: space-between;
  column-gap: var(--indent-inner-primary);
}

.title {
  font-size: var(--font-size-accent);
  font-weight: 700;
}

.more {
  margin-top: auto;
}