.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  border-radius: 2px;
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
    box-shadow: var(--box-shadow-on-secondary);
  }
}

.icon {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  object-fit: contain;
}

.icon path {
  fill: var(--main-color);
}