.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
    box-shadow: var(--box-shadow-on-secondary);
  }
}
