.Sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  padding-bottom: 8px;
  background-color: var(--secondary-color);
  transition: var(--transition);
}

.SidebarCollapsed {
  width: 70px;
}

.links {
  width: 90%;
}

.SidebarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 16px 0;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);

  .SidebarCollapsed & {
    padding: 8px 0;
  }

  &:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
  }
}

.switchers {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-top: auto;

  .SidebarCollapsed & {
    flex-direction: column;
    row-gap: 8px;
  }
}

.SidebarButton,
button.SidebarButton  {
  position: absolute;
  right: -20px;
  bottom: 2px;
  padding: 0;
  width: 20px;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}