.Sidebar {
  width: 220px;
  background-color: var(--secondary-color);
  transition: var(--transition);
}

.SidebarCollapsed {
  width: 100px;
}

.SidebarItem {
  color: var(--main-color);
  padding: 16px 24px;
  border-bottom: 1px solid var(--main-color);

  &:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
  }
}